* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 20px;
}
.search-container {
    position: relative;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 29, 21);
}

.search-button {
    position: relative;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 50%;
    opacity: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.fa-xmark {
    display: none;
}

.search-container.active .search-button {
    transform: translateX(30vw);
}

.search-field {
    position: relative;
    width: 0;
    height: 5rem;
    padding: 1rem 5rem 1rem 2rem; 
    border-radius: 3rem;
    border: none;
    outline: none; 
    opacity: 0;
    transition: all 1s;
    font-size: 1rem;
}

.search-container.active .search-field {
    width: 30vw;
    opacity: 0.3;
    color: rgb(2, 29, 21);
}

.search-container.active .fa-magnifying-glass {
    display: none;
}

.search-container.active .fa-xmark {
    display: block;
    opacity: 1;
}

